.App {
  text-align: center;
}


.App-header {
  background-color: #d10000;
  min-height: 20vh;
  display: flex;
  align-items: center;
  text-indent: 1em;
  margin-bottom: 3em;
  justify-content: left;
  font-size: calc(30px + 2vmin);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.Button-Row {
  margin-top: 25px;
  align-content: center;
}


.App-link {
  color: #61dafb;
}

button {
  background-color: rgb(161, 161, 161);
  border: none;
  color: white;
  width: 300px;
  height: 300px;
  padding: 10px 16px;
  font-size: 40px;
  line-height: 1.33;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
